<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="account_plugin" type="Meetanshi\DistanceBasedShipping\Plugin\CheckoutPlugin"/>
    </type>
    <type name="Magento\Multishipping\Controller\Checkout\Addresses">
        <plugin name="addresses_plugin" type="Meetanshi\DistanceBasedShipping\Plugin\AddressesPlugin"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="distancebasedshipping_post_listing_data_source" xsi:type="string">Meetanshi\DistanceBasedShipping\Model\ResourceModel\DistanceBasedShipping\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Meetanshi\DistanceBasedShipping\Model\ResourceModel\DistanceBasedShipping\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mt_distance_shipping_warehouse</argument>
            <argument name="eventPrefix" xsi:type="string">mt_warehoues_collection</argument>
            <argument name="eventObject" xsi:type="string">mt_warehoues_collection</argument>
            <argument name="resourceModel" xsi:type="string">Meetanshi\DistanceBasedShipping\Model\ResourceModel\DistanceBasedShipping</argument>
        </arguments>
    </type>
</config>
