.page-header.type16 .logo {
    margin: 0;
}

/*mega menu color*/

@media (min-width: 768px) {
    .page-header.type16 .navigation li.level0 {
        color: #229912;
    }

    .page-header.type16 .navigation li.level0.active, .page-header.type16 .navigation li.level0:hover {
        color: #fff;
        background-color: #229912;
    }
}