<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>        
        <carriers>
            <rlcarriers>
                <enable>0</enable>
				<sallowspecific>0</sallowspecific>
                <model>Raveinfosys\Rlcarriers\Model\Carrier\Rlcarriers</model> 
                <name>R+L Carriers</name>
                <title>R+L Carriers</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </rlcarriers>
        </carriers>
    </default>
</config>